@charset "utf-8";
body {
    font-size: 16px;
}

header,
footer {
    border: 1px solid #bbb;
    padding: 1.5rem;
    background-color: dodgerblue;
    text-align: center;
    color: black;
}

header img {
    width: 200px;
    height: auto;
}

header h1 {
    font-size: 2rem;
    font-family: "Alfa Slab One", cursive;
}

main,
footer {
    max-width: 760px;
    margin: 0 auto;
    font-family: "Exo 2", sans-serif;
}

main h2 {
    border-bottom: 1px solid black;
    font-size: 1rem;
}

main li {
    text-decoration: none;
    font-size: 0.7rem;
}

footer a:link {
    color: white;
}

footer a:visited {
    color: yellow;
}

footer p {
    color: yellow;
}

footer {
    font-size: 0.8rem;
}