body {
    font-size: 16px;
    font-family: "Libre Baskerville", serif;
    max-width: 100%;
}

header {
    font-family: "Anton", sans-serif;
    padding: 0.0009em;
    margin-bottom: 25px;
}

header h1 {
    letter-spacing: 2px;
}

header,
footer {
    background-color: rgb(30, 83, 243);
    text-align: center;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

section {
    padding: 1.5em;
    border: 5px solid black;
    text-align: center;
    margin: 0.5em;
}

section a {
    font-size: 1.1em;
}

section img {
    align-items: center;
    max-width: 100%;
    box-shadow: 0 0 20px black;
    margin-top: 30px;
}

footer {
    padding: 0.4em;
}

footer a {
    color: yellow;
}

footer a:visited {
    color: salmon;
}